pkgbase = bs-manager-git
	pkgdesc = An all-in-one tool for managing Beat Saber versions, maps, mods, and more
	pkgver = v1.6.0.r14.g3fc13bc
	pkgrel = 1
	url = https://github.com/Zagrios/bs-manager
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = pnpm
	makedepends = corepack
	makedepends = libxcrypt-compat
	makedepends = rust
	makedepends = musl
	provides = bs-manager
	conflicts = bs-manager
	options = !strip
	source = git+https://github.com/thebillington/bs-manager.git#branch=fix/arm64-wine-path-main
	source = bs-manager.desktop
	sha256sums = SKIP
	sha256sums = cb35ac15f308e0dca35aa2a948f3102eb96ec0c9faa1771b91d5a49309398874

pkgname = bs-manager-git